/* Body */
body {
    background-color: #1844A3;
    color: white;
}

/* Hero page for the homepage */ 
#hero-image {
    height: auto;
    width: 100%;
}


/* Navbar */
.navbar-light .navbar-nav .nav-link {
    font-weight: 400;
    font-size: large;
    color: white;
}

.navbar-light .navbar-brand {
    font-weight: bolder;
    color: white;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    border-color: white;
}

/* Font Sizes */
p {
    font-size: 1.2rem;
}

.text-small{
    font-size: 1rem;
}


/* Background color for the card container of all my elements */
.card {
    background-color: #0a3694;
    border: 4px #09328b solid;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}


/* Button for saving posts */ 
.btn-saved {
    border: none;
    background: transparent;
    color: white
}

/* Button for submitting ratings */ 
.btn-rating {
    background-color: #433b58;
    color: #ffffff;
}

.btn-rating:hover {
    background-color: #332d43;
    color: #ffffff;
}