/* Body */
body {
    background-color: #1844A3;
}

/* Hero page for the homepage */ 
#hero-image {
    height: auto;
    width: 100%;
}


/* Navbar */

.navbar-light .navbar-nav .nav-link {
    color: #0a58ca;
    font-weight: 400;
    font-size: large;
}

.navbar-light .navbar-brand {
    color: #084298;
    font-weight: bolder;
}

/* Font Sizes */

p {
    font-size: 1.2rem;
    color: white;
}

.text-small{
    font-size: 1rem;
}


/* Background color for the card container of all my elements */
.card {
    background-color: #0A3A9E;
}

h1, h2, h3 {
    color: #ffffff;
}


/* Button for saving posts */ 
.btn-saved {
    border: none;
    background: transparent;
}
