/* Body */
body {
    background-color: #faf7ea;
}

/* Hero page for the homepage */ 
#hero-image {
    height: auto;
    width: 100%;
}

/* Navbar */
.navbar {
    padding-top: 0;
    padding-bottom: 0;

}

.navbar-light .navbar-nav .nav-link {
    color: #0a58ca;
    font-weight: 400;
    font-size: large;
}

.navbar .container-fluid {
    border: 1px;
    height: 60px;
}

.navbar-light .navbar-brand {
    color: #084298;
}

/* Font Sizes */

p {
    font-size: 1.2rem;
}

.text-small{
    font-size: 1rem;
}

h2{
    color:black;
}

/* Background color for the card container of all my elements */
.card {
background-color: #fbfadf;
}

/* Button for saving posts */ 
.btn-saved {
    border: none;
    background: transparent;
}
