{% extends 'base.html' %}

{% block content %}
<div class="container-lg card mt-5 mb-5 align-items-lg-center">
    <div class="row">
        <h2 class="m-4 text-center">Edit post</h2>
        <form action="{% url 'post_edit' post.pk %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="image">Image:</label>
            <br>
            <input type="file" id="post_image" name="post_image" value="{{ post.post_image }}">
            <br>
            <label for="title">Title:</label>
            <br>
            <input type="text" id="title" name="title" value="{{ post.title }}">
            <br>
            <br>
            <label for="content">Content:</label><br>
            <textarea type="text" id="content" name="content" rows="20" cols="100">{{ post.content }}</textarea>
            <br>
            <br>
            <label for="excerpt">Excerpt:</label><br>
            <textarea type="text" id="excerpt" name="excerpt" rows="5" cols="50">{{ post.excerpt }}</textarea>
            <br>
            <br>
            <div class="mb-4">
            <button type="submit" class="btn btn-sm btn-primary">Submit</button>
            <a href="{% url 'post_delete' post.pk %}" class="btn btn-sm btn-primary">Delete Post</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}