{% load static %}
{% url 'home' as home_url %}
{% url 'user_post' as user_post_url %}
{% url 'user_profile' as user_profile_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="/static/images/icon.png">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A website to share and read travel content">
        <meta name="keywords" content="travel, blog, posts, adventure, experience">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>WorldWideWriters</title>
    </head>
    <body>
        <!--Bootstrap navbar-->
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1844A3;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'home' %}">WorldWideWriters</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{% url 'post_list' %}">Posts</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Continents
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="{% url 'continent_posts' continent=1 %}">North America</a></li>
                                    <li><a class="dropdown-item" href="{% url 'continent_posts' continent=2 %}">South America</a></li>
                                    <li><a class="dropdown-item" href="{% url 'continent_posts' continent=3 %}">Africa</a></li>
                                    <li><a class="dropdown-item" href="{% url 'continent_posts' continent=4 %}">Europe</a></li>
                                    <li><a class="dropdown-item" href="{% url 'continent_posts' continent=5 %}">Asia</a></li>
                                    <li><a class="dropdown-item" href="{% url 'continent_posts' continent=6 %}">Oceania</a></li>
                                    <li><a class="dropdown-item" href="{% url 'continent_posts' continent=7 %}">Antarctica</a></li>
                                </ul>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == user_post_url %}active" aria-current="page{% endif %}"
                                    href="{% url 'user_post' %}">Create Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == user_profile_url %}active" aria-current="page{% endif %}"
                                    href="{% url 'user_profile' %}">Profile</a>
                            </li>
                            {% endif %}
                        </ul>
                        <ul class="navbar-nav">
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == logout_url %}active" aria-current="page{% endif %}"
                                    href="{% url 'account_logout' %}">Sign Out</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == signup_url %}active" aria-current="page{% endif %}"
                                    href="{% url 'account_signup' %}">Sign Up</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == login_url %}active" aria-current="page{% endif %}"
                                    href="{% url 'account_login' %}">Sign In</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Displaying Django messages -->
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible
                    fade show" role="alert">
                            {{ message | safe }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        <main class="flex-shrink-0">
            {% block content %}
            <!-- Content Goes here -->
            {% endblock content %}
        </main>
        <!-- Bootstrap JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <!-- Fontawesome JavaScript -->
        <script src="https://kit.fontawesome.com/2da612ed01.js" crossorigin="anonymous"></script>
    </body>
</html>
