.navbar-light .navbar-nav .nav-link {
    color: #0a58ca;
    background-color: #faf7ea;
    font-weight: 400;
}

.navbar-light .navbar-brand {
    color: #084298;
}

body {
    background-color: #faf7ea;
}
a {
    text-decoration: none;
}

h2{
    color:black;
}


#hero-image {
    height: auto;
    width: 100%;
}

.card {
background-color: #fbfadf;
}


    /* animates zoom effect on loading page 
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image 
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}
*/