/* Body */
body {
    background-color: #1844A3;
    color: white;
}

/* Hero page for the homepage */ 
#hero-image {
    height: auto;
    width: 100%;
}


/* Navbar */
.navbar-light .navbar-nav .nav-link {
    font-weight: 400;
    font-size: large;
    color: white;
}

.navbar-light .navbar-brand {
    font-weight: bolder;
    color: white;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    border-color: white;
}

/* Font Sizes */
p {
    font-size: 1.2rem;
}

.text-small{
    font-size: 1rem;
}


/* Background color for the card container of all my elements */
.card {
    background-color: #0A3A9E;
}


/* Button for saving posts */ 
.btn-saved {
    border: none;
    background: transparent;
    color: white
}
