.navbar-light .navbar-nav .nav-link {
    color: #0093cd;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #0093cd;
}

/*#hero-image {
    width: 80%;
    height: 500px;
}/*